########### Switchboard user and manager configuration #############

# Switchboard Queue settings
sb.QueueName=switchboard
sb.User=@test
sb.Context=asterisk-2-sip
sb.Number=+4712345678
sb.Name=UNINETT Sentralbord
sb.Variable=PREVHOP
# Hour in 24-hour format when the switchboard closes
sb.CloseTime=16
sb.LockFile=switchboard.lock

# Asterisk Manager hostname/address
astman.host=128.39.142.236
astman.port=5038
astman.user=admin
astman.password=stiganders

# Number of max recent callees to show in the list, not more than 10 :)
recent.Callees=5
####################################################################

####################### Database Configuration #####################

# Calendar database configuration option to check the employee
# free/busy schedule and access the events information

calendardb.driver=org.postgresql.Driver
calendardb.dsn=jdbc:postgresql://128.39.142.236:5432/test
calendardb.user=switch
calendardb.password=Lc58YFTj

# Openser database configuration option to check the phone status

openserdb.driver=com.mysql.jdbc.Driver
openserdb.dsn=jdbc:mysql://128.39.142.236:3306/testswb
openserdb.user=root
openserdb.password=MRr6mPSp

##################################################################


####################### Logging Configuration ####################

# Possible Log Levels:FATAL, ERROR, WARN, INFO, DEBUG

log4j.Level=DEBUG
log4j.File = logs/switchboard.log
log4j.Append = false
log4j.Layout = org.apache.log4j.PatternLayout
log4j.ConversionPattern = %d{yyyy-MM-dd HH:mm:ss} [%l] [%p] %m%n

#################################################################

